.App {
  text-align: center;
  background-color: #ff003c;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcome {
  display: flex;
  text-align: left;
  margin-top: 20px;
}

.divIcon {
  display: flex;
  background-color: white;
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.icon {
  height: 25px;
  width: 25px;
}

.useIcon {
  display: flex;
  margin-top: 20px;
}

.location {
  display: flex;
  text-align: left;
}

.content {
  background: rgb(255, 255, 255);
  height: 40rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  margin-top: 5.2rem;
  padding-left: 28px;
  padding-right: 28px;
  gap: 4px;
}

.container-card {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
  top: -3rem;
}

.card {
  background-color: rgb(194, 245, 232);
  height: full;
  border-radius: 10%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.container-absen {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-size: large;
  border-radius: 20px;
  box-shadow: 2px 10px 15px -3px rgb(0 0 0 / 0.25),
    2px 4px 6px -4px rgb(0 0 0 / 0.25);
  border: 2px solid transparent;
}

.button-absen {
  background-color: #ff003c;
  font-size: medium;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.container-riwayat {
  display: flex;
  justify-content: space-between;
  background-color: #ff003c;
  color: #fff;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-play {
  height: 25px;
  width: 25px;
}

.container-laporan {
  display: flex;
  gap: 10px;
}

.card-laporan {
  background-color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 0.2), 0 6px 5px 0px rgb(0 0 0 / 0.25);
  border: 2px solid transparent;
}

/* notifikasi */
.notifikasi {
  padding: 30px;
}

.notifikasi .header {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

.button-arrow {
  display: flex;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.523);
  justify-content: center;
  align-items: center;
}

.icon-arrow {
  width: 25px;
  height: 25px;
}

/* Profile */
.profile {
  padding: 30px;
}

.profile .header {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

/* laporan kerja */
.absensi-harian {
  padding: 30px;
}

.absensi-harian .header {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

/* tugas kerja */
.tugas-kerja {
  padding: 30px;
}

.tugas-kerja .header {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

/* laporan kerja */
.laporan-kerja {
  padding: 30px;
}

.laporan-kerja .header {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

/* NotFound */
.notfound {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
